/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline; /* приводим все к одной базовой линии */
    background: transparent; /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%; /* размер шрифта всем одинаковый */
}

a { /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
}

table { /* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}

td, td img {
    vertical-align: top; /* возвращаем привычное вертикальное выравнивание */
}

input, select, button, textarea {
    margin: 0; /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%; /* делаем размер шрифтов везде одинаковым */
    outline: none;
}

input[type="checkbox"] { /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
    min-height: 100%; /* всегда показываем вертикальную полосу прокрутки  */
}

body {
    color: #000000;
    text-align: left;
    font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
    min-height: 100%;
    background: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
}

a, a:visited { /* порядок правил для ссылок имеет значение */
    margin: 5px auto;
    width: 20px;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #f9f9f9;
    background-color: #000000;
    border: 0;
    border-radius: 2px;
    justify-content: center;
    text-decoration: none;
}

a:hover {
    color: #fdf208;
    text-decoration: none;
}

a:focus, a:active {
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

img {

    max-width: 100%;
}

.clr {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* --------------- /базовые настройки ---------*/
header {
    color: #000000;
    text-align: center;
    background-size: cover;
    padding: 20px;
    font-size: 2.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: #f9f9f9;
}

footer > p {
    font-size: 0.5em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.20);
}

.headstring {
    background-color: rgba(0, 0, 0, 0.20);
    padding: 20px;
}

body > h1 {
    font-size: 3.25em;
    font-weight: 900;
    margin: 30px 20px 30px 20px;
}

body > h3 {
    font-size: 1.5em;
    font-weight: 600;
}

button {
    margin: 5px 5px;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #f9f9f9;
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background: rgba(0, 0, 0, 0);
    color: #000000;
    box-shadow: inset 0 0 0 3px #000000;
    cursor: hand;
}

.startbutton {
    margin: 30px auto;
    width: 400px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.pagebutton {
    margin: 5px 5px;
    padding: 2px;
    width: 25px;
    font-size: 1em;
    font-weight: 400;
    border-radius: 2px;
    float: left;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.editbutton {
    margin: 0 0 0 0;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    border-radius: 0px;
    float: left;
    height: 22px;
}

#backbutton {
    font-size: 0.85em;
}

.wrapper {
    text-align: center;
    width: 100%;
}

.buttonblock {
    display: inline-block;
    width: 220px;
    margin-left: 20px;
}

.buttonblock input {
    width: 100%;
    margin: 15px 5px 3px;
    border: solid 3px #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
}

.tableblock {
    display: inline-block;
    margin-left: 20px;
}

td, th {
    border: 3px solid #000000;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    vertical-align: middle;

}

th {
    color: #f9f9f9;
    background-color: black;
    font-weight: 700;
}

.buttontd {
    border: none;
    padding-right: 5px;
}

#userdata {
    margin: auto;
}

@media screen and (max-width: 955px) {
    .maintable input[type="text"], input[type="email"] {
        width: 260px;
    }
}

@media screen and (max-width: 840px) {
    .maintable input[type="text"], input[type="email"] {
        width: 320px;
        display: block;
        float: none;
        margin-bottom: 10px;
        margin-right: 0px;
    }

    header {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 400px) {
    .maintable input[type="text"], input[type="email"] {
        width: 240px;
    }
}
